---
import type { SkillIntExp } from "types";
import Hr from "./Hr.astro";
import SkillRow from "./SkillRow.astro";
import SkillTable from "./SkillTable.astro";

interface Props {
  time: string;
  skills: SkillIntExp[];
}

const {time, skills} = Astro.props;
---

<div class="flex flex-row gap-x-2">
  <div class="flex-1">
    <h2 class="text-center mb-2">Interests</h2>
    <Hr />
    <SkillTable caption={time}>
      {skills.map(({theSkill, interest}) => {
        <SkillRow skill={theSkill} level={interest} />
      })}
    </SkillTable>
  </div>
  <div class="flex-1">
    <h2 class="text-center mb-2">Expertise</h2>
    <Hr />
    <SkillTable caption={time}>
      {skills.map(({theSkill, expertise}) => {
        <SkillRow skill={theSkill} level={expertise} />
      })}
    </SkillTable>
  </div>
</div>

<style>
  tr td:last-child {
    @apply text-right;
  }
  tr td {
    @apply p-2;
  }
</style>
